res/schema_template.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.appfluent.us/xwidget">

    <!-- simple types -->

    <xs:simpleType name="AlignmentAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="topLeft"/>
            <xs:enumeration value="topCenter"/>
            <xs:enumeration value="topRight"/>
            <xs:enumeration value="centerLeft"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="centerRight"/>
            <xs:enumeration value="bottomLeft"/>
            <xs:enumeration value="bottomCenter"/>
            <xs:enumeration value="bottomRight"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="AxisAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="horizontal"/>
            <xs:enumeration value="vertical"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="boolAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="BoxFitAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fill"/>
            <xs:enumeration value="contain"/>
            <xs:enumeration value="cover"/>
            <xs:enumeration value="fitWidth"/>
            <xs:enumeration value="fitHeight"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="scaleDown"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CrossAxisAlignmentAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="stretch"/>
            <xs:enumeration value="baseline"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurveAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="bounceIn"/>
            <xs:enumeration value="bounceInOut"/>
            <xs:enumeration value="bounceOut"/>
            <xs:enumeration value="decelerate"/>
            <xs:enumeration value="ease"/>
            <xs:enumeration value="easeIn"/>
            <xs:enumeration value="easeInBack"/>
            <xs:enumeration value="easeInCirc"/>
            <xs:enumeration value="easeInCubic"/>
            <xs:enumeration value="easeInExpo"/>
            <xs:enumeration value="easeInOut"/>
            <xs:enumeration value="easeInOutBack"/>
            <xs:enumeration value="easeInOutCirc"/>
            <xs:enumeration value="easeInOutCubic"/>
            <xs:enumeration value="easeInOutCubicEmphasized"/>
            <xs:enumeration value="easeInOutExpo"/>
            <xs:enumeration value="easeInOutQuad"/>
            <xs:enumeration value="easeInOutQuart"/>
            <xs:enumeration value="easeInOutQuint"/>
            <xs:enumeration value="easeInOutSine"/>
            <xs:enumeration value="easeInQuad"/>
            <xs:enumeration value="easeInQuart"/>
            <xs:enumeration value="easeInQuint"/>
            <xs:enumeration value="easeInSine"/>
            <xs:enumeration value="easeInToLinear"/>
            <xs:enumeration value="easeOut"/>
            <xs:enumeration value="easeOutBack"/>
            <xs:enumeration value="easeOutCirc"/>
            <xs:enumeration value="easeOutCubic"/>
            <xs:enumeration value="easeOutExpo"/>
            <xs:enumeration value="easeOutQuad"/>
            <xs:enumeration value="easeOutQuart"/>
            <xs:enumeration value="easeOutQuint"/>
            <xs:enumeration value="easeOutSine"/>
            <xs:enumeration value="elasticIn"/>
            <xs:enumeration value="elasticInOut"/>
            <xs:enumeration value="elasticOut"/>
            <xs:enumeration value="fastLinearToSlowEaseIn"/>
            <xs:enumeration value="fastOutSlowIn"/>
            <xs:enumeration value="linear"/>
            <xs:enumeration value="linearToEaseOut"/>
            <xs:enumeration value="slowMiddle"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FontWeightAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="100"/>
            <xs:enumeration value="200"/>
            <xs:enumeration value="300"/>
            <xs:enumeration value="400"/>
            <xs:enumeration value="500"/>
            <xs:enumeration value="600"/>
            <xs:enumeration value="700"/>
            <xs:enumeration value="800"/>
            <xs:enumeration value="900"/>
            <xs:enumeration value="thin"/>
            <xs:enumeration value="extraLight"/>
            <xs:enumeration value="light"/>
            <xs:enumeration value="normal"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="semiBold"/>
            <xs:enumeration value="bold"/>
            <xs:enumeration value="extraBold"/>
            <xs:enumeration value="black"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MainAxisAlignmentAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="spaceBetween"/>
            <xs:enumeration value="spaceAround"/>
            <xs:enumeration value="spaceEvenly"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MainAxisSizeAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="min"/>
            <xs:enumeration value="max"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextAlignAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
            <xs:enumeration value="end"/>
            <xs:enumeration value="start"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextDecorationAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="lineThrough"/>
            <xs:enumeration value="overline"/>
            <xs:enumeration value="underline"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextDirectionAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ltr"/>
            <xs:enumeration value="rtl"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TextOverflowAttributeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ellipsis"/>
            <xs:enumeration value="clip"/>
            <xs:enumeration value="fade"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- complex types -->

    <xs:complexType name="objectType">
        <xs:sequence>
            <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="for" type="xs:string"/>
        <xs:attribute name="visible" type="xs:string"/>
    </xs:complexType>

    <!-- helper elements -->

    <xs:element name="attribute">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                <p>A tag that renders it's children to an attribute of its parent.</p>
                <p>@deprecated Use the 'for' attribute on each inflater element instead.</p>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType >
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="name" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="builder">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType >
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="for" type="xs:string" use="required"/>
            <xs:attribute name="multiChild" type="xs:string"/>
            <xs:attribute name="copyDependencies" type="xs:string"/>
            <xs:attribute name="vars" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="debug">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="message" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="forEach">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="var" type="xs:string" use="required"/>
            <xs:attribute name="indexVar" type="xs:integer"/>
            <xs:attribute name="items" type="xs:string" use="required"/>
            <xs:attribute name="start" type="xs:integer"/>
            <xs:attribute name="end" type="xs:integer"/>
            <xs:attribute name="copyDependencies" type="boolAttributeType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="forLoop">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="var" type="xs:string" use="required"/>
            <xs:attribute name="begin" type="xs:integer"/>
            <xs:attribute name="end" type="xs:integer"/>
            <xs:attribute name="step" type="xs:integer"/>
            <xs:attribute name="copyDependencies" type="boolAttributeType"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="fragment">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="for" type="xs:string"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:anyAttribute/>
        </xs:complexType>
    </xs:element>

    <xs:element name="if">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="test" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="else">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="var">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:any namespace="##targetNamespace"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="value" type="xs:integer" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- inflater elements -->

    <xs:element name="Controller">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="objectType">
                    <xs:attribute name="key"/>
                    <xs:attribute name="name"/>
                    <xs:attribute name="errorWidget"/>
                    <xs:attribute name="progressWidget"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="DynamicBuilder">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="objectType">
                    <xs:attribute name="key"/>
                    <xs:attribute name="builder"/>
                    <xs:attribute name="errorWidget"/>
                    <xs:attribute name="progressWidget"/>
                    <xs:attribute name="initializer"/>
                    <xs:attribute name="initValue"/>
                    <xs:attribute name="disposeOfDependencies" type="boolAttributeType"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListOf">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="objectType">
                    <xs:attribute name="children"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="ValueListener">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="objectType">
                    <xs:attribute name="key"/>
                    <xs:attribute name="varName"/>
                    <xs:attribute name="initialValue"/>
                    <xs:attribute name="defaultValue"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <!--@@inflaters@@-->

</xs:schema>
